.App {
  padding-bottom: 10rem;
}

.App > .container {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
}

@media only screen and (max-width: 991px) {
  .App > .container {
      flex-direction: column;
  }

  #cart {
      order: 1;
      width: 100%;
  }

  #item-list {
      order: 2;
      width: 100%;
  }
}